name: Build Next.js web Application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [21.x]

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
    - name: Setup
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install NPM dependencies
      run: npm install
    - name: Build Project
      run: npm run build